body {
    height: auto;
    overflow-x: hidden;
    width: 100%;
}
#menu {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
    top: 50px;
    width: 230px;
}
#menu ul {
    position: absolute;
    top: 0px;
    width: 100%;
}
#menu ul li {
    border-width: 16px;
    border-left: solid;
    border-color: #343a40;
}
#menu ul li a {
    color: #fff;
    padding-left: 16px;
}
#menu ul li a:hover {
    background-color: #fff;
    color: #000;
}
.activeLink {
    border-color: blue !important;
}

#content {
    background-color: #000;
    color: #fff;
    left: 230px;
    height: 100%;
    padding: 50px 100px;
    position: absolute;
    top: 50px;
    width: 100%;
}
#main {
    background-color: orange;
    border-radius: 10px;
    color: #000;
    height: auto;
    padding: 30px 60px;
    width: 70%;
}